<div class="account-wrapper">
  <%= render "shared/settings" %>

  <div class="account-container">
    <div class="account-title">
      <h2>プロフィール情報</h2>
      <%= link_to "編集", profile_edit_path, class: "edit-link" %>
    </div>

    <h4>アイコン画像</h4>
    <% if current_user.image.attached? %>
      <%= image_tag current_user.image, class: "rounded-cicle" %>
    <% else %>
      <%= image_tag 'default-avatar.png', class: "rounded-cicle" %>      
    <% end %>

    <h4>名前</h4>
    <%= current_user.name %>

    <h4>自己紹介</h4>
    <%= current_user.introduction %>
  </div>
</div>
