<div class="confirm-wrapper">
  <h2>予約内容の確認</h2>
  <div class="confirm-body">
          <div class="reservation-form">
        <%= form_with model:@reservation, url: confirm_reservations_path do |f| %>
          <div class="form">

            <%= render "shared/error", obj: @reservation %>

            <div class="check_in_out_number">
              <div class="field">
                <%= f.label :check_in %><br>
                <%= f.date_field :check_in %>
              </div>
              <div class="field">
                <%= f.label :check_out %><br>
                <%= f.date_field :check_out %>
              </div>
              <div class="field">
                <%= f.label :number_of_people %><br>
                <%= f.number_field :number_of_people, min: 1, class: "number-field" %>
              </div>
            </div>

            <%= f.hidden_field :user_id, value: current_user.id %>
            <%# <%= f.hidden_field :room_id, value: @room.id %> %>

            <div class="actions">
              <%= f.submit "予約", class: 'btn' %>
            </div>

            <%= link_to "キャンセル", :back %>

          </div>
        <% end %>

  </div>
</div>
